.App {
  font-family: sans-serif;
  background: #0079bf;
  height: 100%;
  min-height: 100vh;
  color: #fff;
}

img {
  max-width: 100%;
}

.App .container {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
}